<<<<<<< HEAD
<h1>Add a comment</h1>
=======
<div class="thread_wrapper">
  <h1><%= @comment.commentable.comment_text %></h1>
</div>

<h2 class="text-warning">Add a comment</h2>
>>>>>>> master
<% if @comment.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-horizontal">
<%= form_for @comment do |f| %>
  <%= f.label :comment_text %>
  <%= f.text_field :comment_text %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
</div>

<ul>
  <% @comments.each do |comment| %>
    <%= render 'comments', :comment_to_render => comment %>
  <% end %>
</ul>


<%= link_to "Home", root_path %>
