<li><%= comment_to_render.comment_text %><br>
   <%= link_to "Comment", new_comment_path(:commentable_id => comment_to_render.id, :commentable_type => Comment) %>
   <%= comment_to_render.created_at %>
   <%= link_to "Delete", comment_path(:id => comment_to_render.id), :method => :delete, :data => { :confirm => 'Are you sure?'} %>
    <% comment_to_render.comments.each do |comment| %>
    <ul> <%= render 'comments', :comment_to_render => comment %></ul>
  <% end %>
</li>
