<h1> HACKER NEWS </h1>
<%= link_to 'submit', new_link_path %> 

<ol>
  <% @links.order_by_points.each do |link| %>
    <li><%= form_for :vote, :url => votes_path do |f| %>
      <%= f.hidden_field :link_id, :value => link.id %>
      <%= f.submit 'Vote' %> <%= link.votes.count %> 
      <a href= <%= link.url %> target="_blank" ><%= link.short_description %></a> 
      <%= link.created_at.to_s %> | <%= link.points %> points
      <%= link_to "Comment", link_path(:id => link.id) %> 
    </li>
    <% end %>
  <% end %>

</ol>
<p><%= link_to 'Sign Up', new_user_path %></p>
<p><%= link_to 'Log In', new_session_path %></p>
<p><%= link_to 'Log Out', session_path, :method => :delete %></p>


