<div class="container-fluid">
  <div class="jumbotron">
    <h1> HACKED UP NEWS </h1>
    <div class="post_it">
      <%= link_to 'Post', new_link_path, :class => "btn btn-success btn-block" %>
    </div>
  </div>

  <div class="row marketing">
    <ol>
      <% @links.order_by_points.each do |link| %>
        <li><a href= <%= link.url %> target="_blank" ><%= link.short_description %></a></br> 
          <%= link.created_at.to_s %> | <%= link.points %> points
          <%= link_to "Comments", link_path(:id => link.id) %>
          <%= form_for :vote, :url => votes_path do |f| %>
            <%= f.hidden_field :link_id, :value => link.id %>
            <%= f.submit 'Vote', :class => "btn btn-primary btn-xs" %> <%= link.votes.count %> votes
          <% end %>  
        </li>
      <% end %>
    </ol>
  </div>

</div>


