<% if @link.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @link.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class='drop-top-margin'>
  <h1>Submit a Link</h1>
  <div class="form-inline">
    <%= form_for @link do |f| %>
      <%= f.label :short_description %>
      <%= f.text_field :short_description %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit :class => "btn btn-default" %>
    <% end %>
  </div>
  <%= link_to 'Home', root_path %>
</div>
